html, body{
    padding: 0;
    margin: 0;
 }

body {
    margin: 0;
    background-color: burlywood;
}

header {
    background-color: rgb(47, 28, 14);
}

h1 {
    color: rgb(195, 223, 218);
    text-align: center;
    padding: 30px;
}

.inputDiv {
    text-align: center;
    margin-bottom: 20px;
}

#addTaskInputLabel {
    font-size: large;
}

#addTaskInput {
    padding: 2.5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    outline: black solid 1px;
    width: 60%;
    border-collapse: collapse;
}

thead {
    background-color: rgb(47, 28, 14);
    color: rgb(195, 223, 218);
}

#taskTableHeaderCell {
    width: 50%;
}

tr, td, th {
    outline: black solid 1px;
    border-collapse: collapse;
}

th {
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}