body {
    background-color: burlywood;
    margin: 0;
}

header {
    background-color: rgb(47, 28, 14);
}

h1 {
    color: rgb(195, 223, 218);
    text-align: center;
    padding: 30px;
    margin: 0;
}

.inputDiv {
    text-align: center;
    margin-bottom: 20px;
}

#addTaskInputLabel {
    font-size: large;
}

#addTaskInput {
    padding: 2.5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-collapse: collapse;
}

#taskTableHeaderCell {
    width: 50%;
}

th {
    padding: 10px;
    color: rgb(47, 28, 14);
}

.tdCell {
    text-align: center;
    padding: 10px;
    background-color: bisque;
    border: 5px solid burlywood;
    border-radius: 20px;
}

#complete {
    background-color: limegreen;
}